<html>
  <head>
  </head>

  <body>
  
      <div class="content">
        
          
        
        <!-- Content -->
        <div id="content" class="colM">
          
          <h1>Change posts</h1>
          <div id="content-main">


  <ul class="object-tools">
    
      

<li>
    
    <a href="/admin/posts/posts/1/history/" class="historylink">History</a>
</li>



    
  </ul>


<form enctype="multipart/form-data" method="post" id="posts_form" novalidate><input type="hidden" name="csrfmiddlewaretoken" value="zdBr9wQcpoEXmE34BsslbouU4pnL2IxFxwy7zykxvzKxjaJVlcKfdG2pJIN5TCzB">
<div>







  <fieldset class="module aligned ">
    
    
    
        <div class="form-row field-my_name">
            
            
                <div>
                    
                    
                        <label class="required" for="id_my_name">My name:</label>
                        
                            <input type="text" name="my_name" value="flower123" class="vTextField" maxlength="50" required id="id_my_name">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-posts_main_img">
            
            
                <div>
                    
                    
                        <label class="required" for="id_posts_main_img">Posts main img:</label>
                        
                            <p class="file-upload">Currently: <a href="/media/images/pexels-anjana-c-674010.jpg">images/pexels-anjana-c-674010.jpg</a><br>
Change:
<input type="file" name="posts_main_img" accept="image/*" id="id_posts_main_img"></p>
                        
                    
                    
                </div>
            
        </div>
    
</fieldset>













<div class="submit-row">

<input type="submit" value="Save" class="default" name="_save">

    
    <p class="deletelink-box"><a href="/admin/posts/posts/1/delete/" class="deletelink">Delete</a></p>


<input type="submit" value="Save and add another" name="_addanother">
<input type="submit" value="Save and continue editing" name="_continue">


</div>



    <script id="django-admin-form-add-constants"
            src="/static/admin/js/change_form.js"
            
            async>
    </script>




<script id="django-admin-prepopulated-fields-constants"
        src="/static/admin/js/prepopulate_init.js"
        data-prepopulated-fields="[]">
</script>


</div>
</form></div>

          
          <br class="clear">
        </div>
        <!-- END Content -->
  </body>
</html>

